body {
   background-color: #78b4f8;
         
}

.banner { 
    
}

div {
    
}
.title {
    align-content: center;
    
}
.img-responsive {
    width: 80%;
    height: auto;
    align-content: center;
}
