body {
    background-image: url("../images/web.jpg");  
    background-size: 100%;
    background-attachment: fixed;      
}

img, #text {
	margin-left: auto;
	margin-right: auto;
    display: block;
    text-align: center;
    font-size: 40px;
    color: black;
    text-shadow: 1px 0 0 whitesmoke, 0 -1px 0 whitesmoke, 0 1px 0 whitesmoke, -1px 0 0 whitesmoke;
}

.images{
    
    border: thin;
    border: slategray;
}
#gallerybox{
    padding-top: 100px;
}
a:link {
    color: rgb(3, 3, 3);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(3, 3, 3);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #78b4f8;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(7, 7, 7);
    background-color: transparent;
    text-decoration: underline;
}
#title{
    margin-top: 20px;
}

